h1 {
    font-family: 'Permanent Marker', cursive;
}

#serif{
    font-family: Serif;
}

#san-serif{
    font-family: sans-serif;
}


/*head{*/
/*    font-family: Verdana, Georgia;*/
/*}*/

/*title{*/
/*    font-family: Didot, Georgia;*/
/*}*/

/*link{*/
/*    font-family: Baskerville, Georgia;*/
/*}*/

/*head{*/
/*    font-family: "Courier New", Georgia;*/
/*}*/

/*body{*/
/*    font-family: Papyrus, Georgia, serif;*/
/*}*/

/*h1{*/
/*    font-family: "Brush Script MT",Georgia, sans-serif;*/
/*}*/

/*p{*/
/*    font-family: "Bodoni MT", "segoe UI", ""Lucida Grande", "Avant Garde",cursive;*/
/*}*/

/*font-family: Goudy Bookletter 1911, sans-serif;*/
/*font-family: Red/Black, sans-serif;*/
/*font-family: "Lucida" Grande, sans-serif;*/
/*font-family: Ahem!, sans-serif;*/
/*font-family: test@foo, sans-serif;*/
/*font-family: #POUND, sans-serif;*/
/*font-family: Hawaii 5-0, sans-serif;*/