body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root{
    --bg-info: #c6d7f6;
    --text-info: #37308f;
}

.message{
    padding: 8px;
    margin: 8px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px darkgrey solid;
}

.message-info{
    background-color: var(--bg-info);
    color: var(--text-info);
    opacity: 60%;
}

.message-success{
    background-color: lightgreen;
    opacity: 60%;
    color: #00912c;

}

.message-warning{
    background-color: yellow;
    color: #5e5001;
    opacity: 60%;
}

.message-error{
    background-color: #f1a6a6;
    color: #980404;
    opacity: 60%;
}

